.full-width-banner {
    margin-top: 0;
    width: 100%;
    background-color: var(--color-2);
    padding: 40px 0 80px;
  
}

.full-width-banner img {
    width: 100% !important; 
    /* max-width: 1600px !important;  */
    height: auto !important;
    display: block !important;
    margin: 0 auto !important; /* Center the image horizontally */
}

/* Hide the banner on small screens */
@media (max-width: 768px) {
    .full-width-banner {
        display: block;
        margin-top: 0;
        padding: 0px 0 20px 0px;
    }
}