
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
}
.logoScrolling-section{
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-1);
    padding-top: 40px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.brands-section {
    width: 100%;
    text-align: center;
    
}
h2 {
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
    margin-bottom: 0;
    font-weight: 200;
    color: #333; 
}

h1 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 3px 0 40px 0; /* Adjusted margin-top */
    text-align: center;
    color: #333; 
}

.highlight {
    color: #b31b1b;
}

.logos {
    width: 100%; 
    text-align: center;
    overflow: hidden;
    padding: 3.5vh 0;
    background: white;
    white-space: nowrap;
    position: relative;
    margin: 0 auto 100px;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 70px;
    margin: 0 40px;
}
.sizingMess{
    height: 60px !important;
}
.sizingLia{
    height: 75px !important;
}
.sizingLyca{
    height: 75px !important;
}
.sizingKarudaa{
    height: 65px !important;
}
/* Responsive adjustments */
@media (max-width: 1024px) {
    .logoScrolling-section h2 {
        font-size: 1.25rem; 
        margin: 30px auto 0;
    }
    .logoScrolling-section h1 {
        font-size: 2rem; 
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .logoScrolling-section h2 {
        font-size: 1rem; 
        margin: 20px auto 0;
    }
    .logoScrolling-section h1 {
        font-size: 1.5rem; 
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .logoScrolling-section h2 {
        font-size: 1rem; 
        margin: 15px auto 0;
    }
    .logos{
        padding: 3vh 0px;
        margin: 0px auto 60px;
    }
    .logos-slide img {
        height: 60px;
        margin: 0 40px;
    }
    .sizingMess{
        height: 60px !important;
    }
    .sizingLia{
        height: 75px !important;
    }
    .sizingLyca{
        height: 75px !important;
    }
    .sizingKarudaa{
        height: 65px !important;
    }
    .sizingUthaya{
        height: 65px !important;
    }
    .sizingFluxus{
        height: 65px !important;
    }

    .logos:hover .logos-slide {
        animation-play-state: running;
    }
    .logoScrolling-section h1 {
        font-size: 1.25rem; 
        margin-bottom: 15px;
    }
}
