@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root {
    --color-1: #F9F9F9;
    --color-2: #ededed;
    --color-3:  #333;
    --color-4:#b31b1b;
    --color-5:#fff;
    --color-6:#fac;
    --color-7:#3b5998;
    --color-8:#f09433;
    --color-9:#e6683c;
    --color-10:#dc2743;
    --color-11:#cc2366;
    --color-12:#bc1888;
    --color-13:#0077b5;
    --color-14:#1769ff;
    --color-15:#ff0000;
    --color-16:#232222;
    --color-17:#000;
    --color-18:#5a5a5a;
    --color-19:#fefefe;
    --color-20:#f3f3f3;
    --color-21:#e94e1b;
    --color-22:#075E54;
    --color-23:#b31b1b;
    --color-24:#fff;
    --color-25:#000;
    --color-26:#ececec;
    --color-27:#f3f0f0;
    --color-28:#f5f4f4;
    --color-29:#666;
    --color-30:#cdcdcd;
    --color-31:#555;
    --color-32:#b31b1b;
    --color-33: #2e2d2d;
}

/* Dark Theme */
.dark-theme {
    --color-1: #1a1a1a;
    --color-2: #2b2b2b;
    --color-3:  #e0e0e0;
    --color-4:  #d22525    ;
    --color-5:  #333;
    --color-6:  #ffcccb;
    --color-7:  #3b5998; /* Social media colors often remain the same */
    --color-8:  #f09433; /* Social media colors often remain the same */
    --color-9:  #e6683c; /* Social media colors often remain the same */
    --color-10: #dc2743; /* Social media colors often remain the same */
    --color-11: #cc2366; /* Social media colors often remain the same */
    --color-12: #bc1888; /* Social media colors often remain the same */
    --color-13: #0077b5; /* Social media colors often remain the same */
    --color-14: #1769ff; /* Social media colors often remain the same */
    --color-15: #ff3333;
    --color-16: #e0e0e0;
    --color-17: #e0e0e0;
    --color-18: #e0e0e0;
    --color-19: #1a1a1a;
    --color-20: #2b2b2b;
    --color-21: #ff6b3d;
    --color-22: #0d7067;
    --color-23:#b31b1b;
    --color-24: #333;
    --color-25: #e0e0e0;
    --color-26: #3a3a3a;
    --color-27: #2b2b2b;
    --color-28: #252525;
    --color-29: #a1a1a1;
    --color-30: #2b2b2b;
    --color-31: #bbbbbb;
    --color-32:#b9b9b9;
    --color-33: #131313;

}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: var(--color-30);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7px;
	position: relative;
	width: 45px;
	transform: scale(1);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 4px;
	left: 5px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(27px);
}


.fa-moon {
	color: var( --color-4);
}

.fa-sun {
	color:  var( --color-4);
}

body {
    font-family: "Lexend Deca", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var( --color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.button-section {
    margin-top: 0px;
    width: 100%;
    background-color: var( --color-2);
    padding-bottom: 80px;
    padding-top: 2vw;
   
}

h2 {
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
    margin-bottom: 0;
    font-weight: 200;
    color: var( --color-3); 
}

h1 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 3px 0 40px 0; /* Adjusted margin-top */
    text-align: center;
    color: var( --color-3); 

}

.highlight {
    color: var( --color-4);
}

.button-wrapper {
    display: flex;
    justify-content: center;
    padding: 0;
    
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 20px 0;
    border-radius: 10px;
    background-color: var( --color-5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 75%;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    flex-wrap: wrap;
}
.button {
    position: relative;
    padding: 10px 40px;
    margin: 0 10px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: var( --color-4);
    background: none;
    border: none;
    z-index: 1;
    transition: color 0.3s ease;
    height: auto;
}
.button:hover {
    color: #fff;
}

#instagram:hover ~ .buttonSection-light {
    background: linear-gradient(45deg, var( --color-8), var( --color-9), var( --color-10), var( --color-11), var( --color-12));
}

#linkedin:hover ~ .buttonSection-light {
    background-color: var( --color-13);
}

#behance:hover ~ .buttonSection-light {
    background-color: var( --color-14);
}

#youtube:hover ~ .buttonSection-light {
    background-color: var( --color-15);
}

.buttonSection-light {
    position: absolute;
    top: 10px;
    left: 0;
    width: 0;
    height: calc(100% - 20px);
    background-color: transparent;
    border-radius: 10px;
    z-index: 0;
    transition: all 0.3s ease;
}
.button-icon{
    display: none;
}
.button-icon > a{
    color: var( --color-4) ;
    font-size: 20px;
    padding: 0px 10px;
}
/* Responsive adjustments */
@media (max-width: 1200px) {
    
    .button-section h1 {
        font-size: 2rem; 
    }
    
    .button {
        font-size: 1.4rem; 
        padding: 8px 30px; 
    }

    .button-container {
        width: 75%; 
    }
}

@media (max-width: 992px) {
    .button-section h1 {
        font-size: 1.8rem; 
    }
    
    .button {
        font-size: 1.2rem; 
        padding: 6px 15px; 
    }

    .button-container {
        display: none;
    }
    .button-icon{
        display: inline-block;
    }
}

@media (max-width: 768px) {
    .button-section h1 {
        font-size: 1.5rem;
    }
    
    .button {
        font-size: 0.7rem; 
        padding: 5px 25px; 
    }

    .button-container {
        display: none;
    }
    .button-icon{
        display: inline-block;
    }
}

@media (max-width: 576px) {
    .button-section h1 {
        font-size: 1em; 
    }
    
    .button {
        font-size: 0.7rem; 
        padding: 5px 15px;
    }

    .button-container {
        display: none;
    }
    .button-icon{
        display: inline-block;
    }
}
@media (max-width: 480px) {
    .button-section {
        padding-bottom: 40px;
    }
    .button-section > h1{
        margin-bottom: 20px;
    }
    
    .button-icon{
        display: inline-block;
    }
    .button-container {
        display: none;
    }

    .button {
        padding: 5px 5px;
        font-size: 0.7rem; 
    }
}

