@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
.footer {
    background-color: #2e2d2d; 
    color: #FFFFFF; 
    padding: 0;
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
    width: 100%;
    }

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 13vw;
}
.img-logo{
    width:50px
}

.footer-top p {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

.partners {
    display: flex;
    align-items: center;
}

.partners img {
    max-height: 40px;
    margin: 0 10px;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
    font-size: 0.9rem;
    display: flex; 
    align-items: center;
}
.contact-info a i {
    margin-right: 8px; 
    font-size: 1rem; 
    color: #ffffff; 
}

.contact-info a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #ffffff; 
    color: #4A4A4A;
    padding: 15px 13vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.address p {
    font-size: 0.9rem;
    margin: 0;
    display: flex;
    align-items: center;
}
.address i {
    margin-right: 8px; /* spacing between icon and text */
    font-size: 1.2rem; 
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-links p {
    margin-right: 0;
    font-size: 0.9rem;
}

/*.footer-links a {
    color: #4A4A4A;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-links a:hover {
    text-decoration: underline;
}*/
.footer-links span {
    color: #4A4A4A;
    margin: 0; /* margin for spacing around the "|" symbol */
    font-size: 0.9rem;
}
/* Responsive Styles */
@media (max-width: 1200px) {
    .footer-top {
        padding: 20px 150px;
    }

    .footer-bottom {
        padding: 20px 150px;
    }

    .footer-top p, 
    .contact-info a, 
    .footer-bottom p, 
    .footer-links p, 
    .footer-links a, 
    .footer-links span {
        font-size: 0.85rem;
    }
}

@media (max-width: 992px) {
    .footer-top {
        padding: 20px 100px;
    }

    .footer-bottom {
        padding: 20px 100px;
    }

    .footer-top p, 
    .contact-info a, 
    .footer-bottom p, 
    .footer-links p, 
    .footer-links a, 
    .footer-links span {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .footer-top {
        padding: 20px 50px;
    }

    .footer-bottom {
        display: none;
        padding: 20px 50px;
    }

    .footer-top p, 
    .contact-info a, 
    .footer-bottom p, 
    .footer-links p, 
    .footer-links a, 
    .footer-links span {
        font-size: 0.75rem;
    }
    .address p {
        font-size: 0.8rem; 
    }

    .address i {
        font-size: 1rem; 
    }
}

@media (max-width: 576px) {
    .footer-top {
        padding: 15px 20px;
    }
    .footer-top .img-logo {
       width:30px;
    }
     
    .footer-bottom {
        padding: 10px 20px;
    }

    .footer-top p, 
    .contact-info a, 
    .footer-bottom p, 
    .footer-links p, 
    .footer-links a, 
    .footer-links span {
        font-size: 0.6rem;
    }
    .address p {
        font-size: 0.7rem; 
    }

    .contact-info a i {
        font-size: 0.8rem; 
    }
}
