@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
html,body {
    font-family: "Lexend Deca", sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
}
:root {
    --color-1: #F9F9F9;
    --color-2: #ededed;
    --color-3:  #333;
    --color-4:#b31b1b;
    --color-5:#fff;
    --color-6:#fac;
    --color-7:#3b5998;
    --color-8:#f09433;
    --color-9:#e6683c;
    --color-10:#dc2743;
    --color-11:#cc2366;
    --color-12:#bc1888;
    --color-13:#0077b5;
    --color-14:#1769ff;
    --color-15:#ff0000;
    --color-16:#232222;
    --color-17:#000;
    --color-18:#5a5a5a;
    --color-19:#fefefe;
    --color-20:#f3f3f3;
    --color-21:#e94e1b;
    --color-22:#075E54;
    --color-23:#b31b1b;
    --color-24:#fff;
    --color-25:#000;
    --color-26:#ececec;
    --color-27:#f3f0f0;
    --color-28:#f5f4f4;
    --color-29:#666;
    --color-30:#cdcdcd;
    --color-31:#555;
    --color-32:#b31b1b;
    --color-33: #2e2d2d;
}

/* Dark Theme */
.dark-theme {
    --color-1: #1a1a1a;
    --color-2: #2b2b2b;
    --color-3:  #e0e0e0;
    --color-4:  #d22525    ;
    --color-5:  #333;
    --color-6:  #ffcccb;
    --color-7:  #3b5998; /* Social media colors often remain the same */
    --color-8:  #f09433; /* Social media colors often remain the same */
    --color-9:  #e6683c; /* Social media colors often remain the same */
    --color-10: #dc2743; /* Social media colors often remain the same */
    --color-11: #cc2366; /* Social media colors often remain the same */
    --color-12: #bc1888; /* Social media colors often remain the same */
    --color-13: #0077b5; /* Social media colors often remain the same */
    --color-14: #1769ff; /* Social media colors often remain the same */
    --color-15: #ff3333;
    --color-16: #e0e0e0;
    --color-17: #e0e0e0;
    --color-18: #e0e0e0;
    --color-19: #1a1a1a;
    --color-20: #2b2b2b;
    --color-21: #ff6b3d;
    --color-22: #0d7067;
    --color-23:#b31b1b;
    --color-24: #333;
    --color-25: #e0e0e0;
    --color-26: #3a3a3a;
    --color-27: #2b2b2b;
    --color-28: #252525;
    --color-29: #a1a1a1;
    --color-30: #2b2b2b;
    --color-31: #bbbbbb;
    --color-32:#b9b9b9;
    --color-33: #131313;

}
.header {
    width: 100vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    background-color: var( --color-1);
    z-index: 3;
    top: 0;
    flex-wrap: wrap; /* Allows wrapping if space is constrained */
}

/* Centering the Logo and Nav Links */
.logo-landing,
.nav-links {
    display: flex;
    align-items: center;
}

.logo-landing {

}

.logo-landing a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-landing img {
    height: 30px;
    margin-right: 10px;
}

.logo-landing span {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-21);
}

.logo-text {
    font-family: "Barlow Condensed", sans-serif;
}
.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 15px;
    color: var( --color-4);
    font-weight: 500;
}
.header-portfolio{
    margin-left: 0px;
    margin-right: auto;
    width: 100vw;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: var(--color-30);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7px;
	position: relative;
	width: 45px;
	transform: scale(1);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 4px;
	left: 5px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(27px);
}


.fa-moon {
	color: var( --color-4);
}

.fa-sun {
	color:  var( --color-4);
}

.hire-button span {
    color: white !important;
}

.hire-button::after {
    content: "WhatsApp";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    font-size: 13px;
}

.hire-button:hover {
    background-color: var(--color-22);
}

.hire-button:hover span {
    opacity: 0;
}

.hire-button:hover::after {
    opacity: 1;
}
.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px; 
}
.nav-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
    flex-wrap: wrap;
    justify-content: center;
}
.nav-bar button {
    padding: 10px 20px;
    border: 1px solid rgb(188, 187, 187);
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #0a0a31;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.nav-bar button:hover {
    color: #b31b1b;
}
.nav-bar button.active {
    background-color: #b31b1b;
    color: #fff;
    border:  #b31b1b ;
}
.full-width-portfolio-banner {
    margin-top: 0;
    width: 100%;
    background-color: var(--color-20);
    padding: 0 auto;
    margin-bottom: 70px;
  }

.full-width-portfolio-banner img {
    width: 100% !important; 
    max-width: 1600px !important; 
    height: auto !important;
    display: block !important;
    margin: 0 auto !important; /* Center the image horizontally */
    max-width: 1200px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 15px;
    width: 80%;
}
.grid-container.business-card-layout,
.grid-container.menu-layout
{
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
}
.grid-container.print-design-layout {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
}
.grid-item {
 
    width: 100%;
    padding-bottom: 100%; /* Aspect ratio 1:1 */
    background-size: cover;
    background-position: center;
    opacity: 1;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    transition-delay: 0.3s; 
}

.grid-item.show {
    opacity: 1;
    transform:  translateY(20px);
    transition-delay: 0s;
}
.grid-item:nth-child(1) {
    --grid-index: 0;
}
.grid-item:nth-child(2) {
    --grid-index: 1;
}
.grid-item:nth-child(3) {
    --grid-index: 2;
}
.grid-item:nth-child(4) {
    --grid-index: 3;
}
.grid-item:nth-child(5) {
    --grid-index: 4;
}
.grid-container.menu-layout .grid-item {
    padding-bottom: 141.4%; /*A4 aspect ratio (1:1.414) */
}
.hidden {
    display: none;
}
#full-image-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    animation: blink 0.3s ease-in-out;
}
#menu .menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two-column layout */
    gap: 20px; /* Spacing between grid items */
    justify-items: center; /* Center items horizontally */
    width: 60vw;
    margin-left: 10vw;
    margin-right:auto;
}

#menu .menu-item {
    width: 100%;
    padding-bottom: 141.4%; /* Maintain A4 aspect ratio */
    position: relative;
    overflow: hidden;
}

#menu .menu-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#menu .arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #b31b1b;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10;
    font-weight: 800;
    border-radius:8px  ;
}

#menu .arrow.up {
    bottom: 5px;
    margin-left: -25px;
    font-size: 20px;
    font-weight: bold;
}

#menu .arrow.down {
    bottom: 5px;
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 1 grid item per row for small screens */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Default to 1 item per row for general grids */
    }

    /* Ensure specific sections also follow the 1 item per row layout */
    .grid-container.business-card-layout,
    .grid-container.print-design-layout {
        grid-template-columns: 1fr; /* 1 item per row for business-card and printable-design */
    }

    .grid-container.menu-layout {
        grid-template-columns: 1fr; /* Single column layout */
    }
    
    /* Maintain aspect ratio for menu items */
    .grid-container.menu-layout .grid-item {
        padding-bottom: 56.25%; /* Maintain 16:9 aspect ratio or adjust as needed */
        /* Or use the specific ratio for your design */
    }
}

@media (max-width: 768px) {
    .logo-landing {
        /* width: 50%;
        margin-right: 20px; */
    }

    .logo-landing img {
        height: 25px;
    }

    .logo-landing span {
        font-size: 16px;
    }

    .nav-links a {
        font-size: 13px;
        margin: 0 8px;
    }

    .hire-button {
        padding: 4px 12px;
        font-size: 13px;
    }

    h1 {
        font-size: 1.75rem;
        line-height: 4.5vh;
    }

    .description {
        font-size: 0.8rem;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 13px;
        margin-right: 10px;
    }

    .play-button-container {
        width: 45px;
        height: 45px;
    }

    .play-button {
        width: 35px;
        height: 35px;
    }

    .play-button span {
        font-size: 18px;
    }
}
@media (max-width: 480px) {
    .logo-landing {
        margin-right: 10px;
    }

    .logo-landing img {
        height: 20px;
    }
    .themeButton{
        scale: 0.85;
    }
    .logo-landing span {
        display: none;
        font-size: 14px;
    }

    .nav-links a {
        font-size: 12px;
        margin: 0 5px;
    }

    .hire-button {
        padding: 3px 10px;
        font-size: 12px;
    }

    h1 {
        font-size: 1.5rem;
        line-height: 4vh;
    }

    .description {
        font-size: 0.7rem;
        width: 92%;
        margin: 0px auto 10px auto;
    }
    .image-container{
        width: 200%;
    }

    .cta-button {
        padding: 8px 15px;
        font-size: 12px;
        margin-right: 5px;
    }

    .play-button-container {
        width: 40px;
        height: 40px;
    }

    .play-button {
        width: 30px;
        height: 30px;
    }

    .play-button span {
        font-size: 16px;
    }

    #menu .menu-grid {
        display: grid;
        grid-template-columns: 1fr; /* Two-column layout */
        gap: 20px; /* Spacing between grid items */
        justify-items: center; /* Center items horizontally */
        width: 75vw;
        margin-left: 3.5vw;
        margin-right: 3.5vw;
    }
}